@font-face { font-family: 'ProximaNova-Regular'; src: url("../fonts/proxima-nova/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ProximaNova-Thin'; src: url("../fonts/proxima-nova/ProximaNova-Thin.eot"); src: url("../fonts/proxima-nova/ProximaNova-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova/ProximaNova-Thin.svg#ProximaNova-Thin") format("svg"), url("../fonts/proxima-nova/ProximaNova-Thin.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Thin.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Thin.woff2") format("woff2"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ProximaNova-Bold'; src: url("../fonts/proxima-nova/ProximaNova-Bold.eot"); src: url("../fonts/proxima-nova/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/proxima-nova/ProximaNova-Bold.woff") format("woff"), url("../fonts/proxima-nova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proxima-nova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"), url("../fonts/proxima-nova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }
/* ========================================================================== Custom Styles ========================================================================== */
body { font-family: 'ProximaNova-Regular'; font-size: 20px; margin: 0px; padding: 0px; overflow-x: hidden; }

p { color: #000000; }

ul, li { margin: 0; padding: 0; }

textarea { resize: vertical; }

a:hover { text-decoration: none; }

* html .clearfix { height: 1%; }

img { max-width: 100%; }

.ease, a, input[type="submit"], button { -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; transition: all 0.25s ease; }

.relative { position: relative; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0; }

.clearfix { display: block; clear: both; }

.center-div { position: absolute; top: 50%; left: 50%; margin-right: -50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.middle-div { position: absolute; top: 50%; -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }

.hori-div { position: absolute; left: 50%; -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); }

.bg-common { background-position: center; background-size: cover; background-repeat: no-repeat; }

::-webkit-scrollbar { width: 7px; }

::-webkit-scrollbar-thumb { background-color: #fdc331; }

::-webkit-scrollbar-track { background-color: #fff; }

header { background-color: #50c1ef; border-bottom: 7px solid #fdc331; }
header .navbar { padding: .5rem 1rem 0; position: relative; }
header .navbar .navbar-brand { padding-bottom: 0; }
header .navbar .navbar-nav .nav-link { color: #fff; padding: .75rem 2rem; border-radius: 7px; }
header .navbar .navbar-nav .active .nav-link { box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5); }
header .navbar .navbar-collapse { margin-top: 50px; }
header .getQoute-header { font-family: 'ProximaNova-Bold'; color: #fff; position: absolute; z-index: 5; top: 1rem; right: 1rem; border: 2px solid #fff; padding: 1rem 2rem; border-radius: 10px; letter-spacing: 1px; }
header .getQoute-header i { margin-left: 2rem; }
header .getQoute-nav { display: none; }

.btnStyle-1 { display: inline-block; width: 250px; text-align: center; padding: .75rem 2rem; color: #fff; background-color: #fdc331; border-radius: 7px; -webkit-transition: 1s; -moz-transition: 1s; -ms-transition: 1s; -o-transition: 1s; transition: 1s; }
.btnStyle-1:hover { color: #fff; background-color: #fdc331; background-image: radial-gradient(circle, #50c1ef, #00d1d9, #3dd89f, #a3d659, #fdc331); }

.padder { padding: 50px 0; }

.form-group { margin-bottom: 0; }

.form-control { font-family: 'ProximaNova-Regular'; color: #000; font-size: 20px; width: 100%; height: 55px; line-height: 43px; border-radius: 10px; }
.form-control.nice-select { height: 55px; line-height: 43px; float: none; }

.banner { position: relative; }
.banner.home-banner .banner-img { width: 100%; height: 615px; object-fit: cover; }
.banner.inner-banner .banner-img { width: 100%; height: 475px; object-fit: cover; }
.banner .text-wrapper { left: 150px; max-width: 850px; width: 100%; }
.banner .text-wrapper h2 { font-family: 'ProximaNova-Bold'; color: #fff; font-size: 60px; text-transform: uppercase; text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); margin-bottom: 20px; }

.direct-concise { padding-bottom: 20px; }
.direct-concise .content-holder h2 {font-family: 'ProximaNova-Bold';color: #124782;font-size: 50px;text-transform: uppercase;margin-bottom: 20px;text-align: center;}
.direct-concise .content-holder p {font-size: 25px;text-align: justify; text-align-last: center;}

.search-wrapper { padding-top: 20px; padding-bottom: 150px; }
.search-wrapper .qoute-holder { background-color: #56c2ed; padding: 1rem; border-radius: 4px; margin-bottom: 20px; }
.search-wrapper .qoute-holder input[type=submit] { width: 100%; line-height: 55px; padding: 0 10px; border: 0; cursor: pointer; }
.search-wrapper .show-result { font-family: 'ProximaNova-Thin'; color: #3d3d3d; margin-bottom: 20px; }

.review-area .reviews-report-changes { border: 1px solid #bbbbbb; padding: 15px; border-radius: 5px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.review-area .reviews-report-changes .review-item { margin-bottom: 10px; }
.review-area .reviews-report-changes .review-item .company-details { display: block; border: 1px solid rgba(187, 187, 187, 0.5); padding: 30px; border-radius: 5px; margin-bottom: 15px; }
.review-area .reviews-report-changes .review-item .company-details:hover { border: 1px solid #124782; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); }
.review-area .reviews-report-changes .review-item .company-details .logo-holder { width: 400px; display: inline-block; vertical-align: middle; border-right: 1px solid #bbbbbb; margin-right: 15px; }
.review-area .reviews-report-changes .review-item .company-details .logo-holder img { height: 80px; width: auto; margin: 0 auto 10px; display: block; }
.review-area .reviews-report-changes .review-item .company-details .logo-holder p { margin-bottom: 0; color: #3d3d3d; }
.review-area .reviews-report-changes .review-item .company-details .logo-holder h3 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; }
.review-area .reviews-report-changes .review-item .company-details .company-info { width: calc(100% - 425px); display: inline-block; vertical-align: middle; }
.review-area .reviews-report-changes .review-item .company-details .company-info p { color: #3d3d3d; margin-bottom: 0; }
.review-area .reviews-report-changes .review-item .company-details .company-info .star-rate { margin-bottom: 10px; }
.review-area .reviews-report-changes .review-item .company-details .company-info .star-rate li { vertical-align: bottom; line-height: 1; }
.review-area .reviews-report-changes .review-item .company-details .company-info .star-rate li img { width: 20px; }
.review-area .reviews-report-changes .review-item .company-details .company-info .star-rate li:last-child { font-family: 'ProximaNova-Thin'; color: #005b7f; margin-left: 20px; }
.review-area .reviews-report-changes .review-item .company-details .company-info .star-rate li:last-child span { font-family: 'ProximaNova-Bold'; }
.review-area .reviews-wrapper { border: 1px solid #bbbbbb; padding: 15px; border-radius: 5px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.review-area .reviews-wrapper.find-company-reviews .review-item { margin-bottom: 20px; }
.review-area .reviews-wrapper .review-item { margin-bottom: 30px; }
.review-area .reviews-wrapper .review-item .company-details { display: block; border: 1px solid #124782; padding: 30px; border-radius: 5px; margin-bottom: 15px; }
.review-area .reviews-wrapper .review-item .company-details .logo-holder { line-height: 80px; height: 120px; text-align: center; width: 400px; display: inline-block; vertical-align: middle; border-right: 1px solid #bbbbbb; margin-right: 15px; padding: 20px; }
.review-area .reviews-wrapper .review-item .company-details .logo-holder img { max-width: 100%; max-height: 100%; }
.review-area .reviews-wrapper .review-item .company-details .company-info { width: calc(100% - 425px); display: inline-block; vertical-align: middle; }
.review-area .reviews-wrapper .review-item .company-details .company-info p { margin-bottom: 0; color: #3d3d3d; }
.review-area .reviews-wrapper .review-item .company-details .company-info h3 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; }
.review-area .reviews-wrapper .review-item .company-details .company-info .star-rate li { vertical-align: bottom; line-height: 1; }
.review-area .reviews-wrapper .review-item .company-details .company-info .star-rate li img { width: 20px; }
.review-area .reviews-wrapper .review-item .company-details .company-info .star-rate li:last-child { font-family: 'ProximaNova-Thin'; color: #005b7f; font-style: italic; margin-left: 20px; }
.review-area .reviews-wrapper .review-item .company-details:hover { box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); }
.review-area .reviews-wrapper .review-item .latest-review { border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 30px; }
.review-area .reviews-wrapper .review-item .latest-review .title-reviewer { border-bottom: 1px solid #bbbbbb; padding-bottom: 10px; margin-bottom: 20px; }
.review-area .reviews-wrapper .review-item .latest-review .title-reviewer img { height: 75px; width: 75px; display: inline-block; vertical-align: middle; margin-right: 15px; border-radius: 100%; }
.review-area .reviews-wrapper .review-item .latest-review .title-reviewer .upper { width: calc(100% - 100px); display: inline-block; vertical-align: middle; }
.review-area .reviews-wrapper .review-item .latest-review .title-reviewer .upper h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 0; }
.review-area .reviews-wrapper .review-item .latest-review .title-reviewer .upper p { font-family: 'ProximaNova-Thin'; color: #000; font-style: italic; margin-bottom: 0; }
.review-area .reviews-wrapper .review-item .latest-review .lower { position: relative; }
.review-area .reviews-wrapper .review-item .latest-review .lower p { color: #3d3d3d; line-height: 2; padding-right: 100px; }
.review-area .reviews-wrapper .review-item .latest-review .lower .more-review { display: block; margin-left: auto; }
.review-area .reviews-wrapper .review-item .latest-review .lower .recommended { position: absolute; bottom: 0; left: 0; }
.review-area .reviews-wrapper .review-item .latest-review .lower .recommended i { color: #6ac259; margin-right: 5px; }
.review-area .load-more { color: #2572ff; }
.review-area .paging { font-family: 'ProximaNova-Bold'; color: #2572ff; }
.review-area .sidebar > div { box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 15px; margin-bottom: 15px; }
.review-area .sidebar h2.side-headers { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 20px; text-align: center; display: block; }
.review-area .sidebar .nearby-movers form { position: relative; }
.review-area .sidebar .nearby-movers form input[type=text] { padding-right: 50px; }
.review-area .sidebar .nearby-movers form i { position: absolute; top: 10px; right: 15px; font-size: 30px; }
.review-area .sidebar .state-movers li, .review-area .sidebar .top-movers li { margin-bottom: 5px; }
.review-area .sidebar .state-movers li a, .review-area .sidebar .top-movers li a { display: block; padding: .5rem 1rem; position: relative; border-radius: 10px; border: 2px solid #bbbbbb; color: #000; }
.review-area .sidebar .state-movers li i, .review-area .sidebar .top-movers li i { position: absolute; right: 20px; top: 13px; }
.review-area .sidebar .state-movers li:hover a, .review-area .sidebar .top-movers li:hover a { border: 2px solid #54abdd; color: #54abdd; }
.review-area .sidebar .state-movers li:hover i, .review-area .sidebar .top-movers li:hover i { color: #54abdd; }

footer .recent-footer { padding: 30px 0; background-color: #154980; position: relative; }
footer .recent-footer img { position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; opacity: .3; }
footer .recent-footer .container { position: relative; z-index: 2; }
footer .recent-footer .container h2 { font-family: 'ProximaNova-Bold'; color: #fff; font-size: 40px; text-transform: uppercase; }
footer .recent-footer .container p { color: #fff; }
footer .copy-links { background-color: #111111; padding: 20px 0; }
footer .copy-links p { color: #fff; }
footer .copy-links li { margin: 0 1rem; position: relative; }
footer .copy-links li:not(:last-child):after { content: '\f111'; font-family: 'fontAwesome'; font-size: 5px; position: absolute; right: -15px; top: 12px; color: #fff; }
footer .copy-links li a { color: #fff; position: relative; }

.about-section-1 h2 {font-family: 'ProximaNova-Bold';color: #124782;font-size: 50px;text-transform: uppercase;margin-bottom: 20px;text-align: center;}
.about-section-1 p {font-size: 25px;text-align: justify; text-align-last: center;}

.about-section-2 .section-title { margin-bottom: 100px; }
.about-section-2 h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 25px; text-transform: uppercase; }
.about-section-2 .perform { padding: 0 50px; }
.about-section-2 .perform h2 { margin-bottom: 10px; text-align: center; }
.about-section-2 .perform p { font-size: 25px; text-align: justify; }
.about-section-2 .perform .image-holder { text-align: center; height: 230px; padding: 15px; line-height: 200px; }
.about-section-2 .perform .image-holder img { max-height: 100%; }

.about-section-3 { height: 350px; position: relative; }
.about-section-3 .like-review { position: absolute; left: 0; top: 0; }
.about-section-3 h2 { font-family: 'ProximaNova-Bold'; color: #000; font-size: 85px; text-transform: uppercase; margin-bottom: 0; }
.about-section-3 p { font-family: 'ProximaNova-Bold'; color: #999999; font-size: 30px; margin-bottom: 0; }

.contact-wrapper { padding-bottom: 150px; }
.contact-wrapper .section-title { margin-bottom: 50px; }
.contact-wrapper .section-title h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 25px; text-transform: uppercase; }
.contact-wrapper .form-wrapper { border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 50px; }
.contact-wrapper .form-wrapper .form-group { margin-bottom: 30px; }
.contact-wrapper .form-wrapper .form-group:last-child { margin-bottom: 0; }
.contact-wrapper .form-wrapper textarea { height: 200px; }
.contact-wrapper .form-wrapper input[type=submit] { display: block; margin-left: auto; border: 0; }
.contact-wrapper .sidebar ul { padding: 20px; }
.contact-wrapper .sidebar ul li { margin-bottom: 20px; }
.contact-wrapper .sidebar ul li a { color: #000; }
.contact-wrapper .sidebar ul li i { width: 70px; text-align: center; color: #124782; font-size: 30px; }

.login-wrapper { padding-bottom: 150px; }
.login-wrapper .section-title { margin-bottom: 50px; }
.login-wrapper .section-title h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 25px; text-transform: uppercase; }
.login-wrapper .form-wrapper { border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 50px 100px; max-width: 750px; margin: auto; }
.login-wrapper .form-wrapper .form-group { margin-bottom: 30px; }
.login-wrapper .form-wrapper .form-group:last-child { margin-bottom: 0; }
.login-wrapper .form-wrapper textarea { height: 200px; }
.login-wrapper .form-wrapper input[type=submit] { display: block; border: 0; margin: auto; }
.login-wrapper .form-wrapper .login-with { display: block; padding: 5px 10px; margin-bottom: 30px; color: #fff; border-radius: 10px; }
.login-wrapper .form-wrapper .login-with i { width: 60px; margin-right: 100px; vertical-align: middle; font-size: 40px; }
.login-wrapper .form-wrapper .login-with.facebook { background-color: #4267b3; }
.login-wrapper .form-wrapper .login-with.gmail { background-color: #dc4436; }
.login-wrapper .site-log h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 25px; text-transform: uppercase; display: block; text-align: center; margin-bottom: 30px; }

.champ { border: 1px solid #bbbbbb; padding: 15px; border-radius: 5px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.champ .champion-item { box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 15px; margin-bottom: 15px; }
.champ .champion-item .the-review { width: calc(100% - 450px); display: inline-block; vertical-align: top; border-right: 1px solid #bbbbbb; padding-right: 20px; }
.champ .champion-item .the-info { width: 440px; display: inline-block; vertical-align: top; padding: 15px; }
.champ .champion-item .the-info h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 50px; }
.champ .champion-item .the-info label { font-family: 'ProximaNova-Thin'; color: #005b7f; font-style: italic; }
.champ .champion-item .the-info .star-rate { margin-bottom: 20px; }
.champ .champion-item .the-info .star-rate li { vertical-align: bottom; line-height: 1; }
.champ .champion-item .the-info .star-rate li img { width: 20px; }
.champ .champion-item .the-info .star-rate li:last-child { font-family: 'ProximaNova-Thin'; color: #005b7f; margin-left: 20px; }
.champ .champion-item .the-info .star-rate li:last-child span { font-family: 'ProximaNova-Bold'; }
.champ .champion-item .title-reviewer { border-bottom: 1px solid #bbbbbb; padding-bottom: 10px; margin-bottom: 20px; }
.champ .champion-item .title-reviewer img { height: 75px; width: 75px; display: inline-block; vertical-align: middle; margin-right: 15px; border-radius: 100%; }
.champ .champion-item .title-reviewer .upper { width: calc(100% - 100px); display: inline-block; vertical-align: middle; }
.champ .champion-item .title-reviewer .upper h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 0; }
.champ .champion-item .title-reviewer .upper p { font-family: 'ProximaNova-Thin'; color: #000; font-style: italic; margin-bottom: 0; }
.champ .champion-item .lower { position: relative; }
.champ .champion-item .lower p { color: #3d3d3d; line-height: 2; }
.champ .champion-item .lower .more-review { display: block; margin-left: auto; }
.champ .champion-item .lower .recommended { position: absolute; bottom: 0; left: 0; }
.champ .champion-item .lower .recommended i { margin-right: 10px; }
.champ .champion-item .lower .recommended i.fa-times-circle { color: #d75a4a; }
.champ .champion-item .lower .recommended i.fa-check-circle { color: #6ac259; }
.champ .paging { font-family: 'ProximaNova-Regular'; color: #2572ff; }
.champ .paging.active { font-family: 'ProximaNova-Bold'; }

.write-review .form-group:not(.checkbox) label:not(.star-holder) { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 25px; text-transform: uppercase; }
.write-review .form-group:not(.checkbox) label.star-holder { width: 160px; justify-content: left; }
.write-review .checkbox { margin-bottom: 20px !important; }
.write-review .checkbox label { font-family: 'ProximaNova-Thin'; }
.write-review .checkbox label input { margin-right: 10px; }
.write-review input[type=submit] { margin: auto !important; }

.qoute-wrapper .section-title { margin-bottom: 50px; }
.qoute-wrapper .section-title h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 25px; text-transform: uppercase; }
.qoute-wrapper .form-wrapper { border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 50px; }
.qoute-wrapper .form-wrapper .form-group { margin-bottom: 2rem; }
.qoute-wrapper .form-wrapper .form-group.withIcon { position: relative; }
.qoute-wrapper .form-wrapper .form-group.withIcon input { position: relative; background: transparent; }
.qoute-wrapper .form-wrapper .form-group.withIcon i { position: absolute; bottom: 15px; right: 20px; font-size: 25px; }
.qoute-wrapper .form-wrapper h4 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; padding-bottom: 20px; border-bottom: 1px solid #bbbbbb; margin-bottom: 30px; }
.qoute-wrapper .form-wrapper h4 span { color: #ababab; margin-right: 5px; }
.qoute-wrapper .form-wrapper input[type=submit] { border: none; margin-top: 30px; }

.review-inner-wrapper .return-review { padding: 1rem 0; }
.review-inner-wrapper .return-review a { color: #2c76fb; text-transform: uppercase; }
.review-inner-wrapper .return-review a i { margin-right: 10px; }
.review-inner-wrapper .main-wrapper { box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 20px; }
.review-inner-wrapper .main-wrapper .title-reviewer { border-bottom: 1px solid #bbbbbb; padding-bottom: 10px; margin-bottom: 20px; }
.review-inner-wrapper .main-wrapper .title-reviewer img.reviewer { height: 75px; width: 75px; display: inline-block; vertical-align: middle; margin-right: 15px; border-radius: 100%; }
.review-inner-wrapper .main-wrapper .title-reviewer .upper { width: calc(100% - 280px); display: inline-block; vertical-align: middle; }
.review-inner-wrapper .main-wrapper .title-reviewer .upper h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 0; }
.review-inner-wrapper .main-wrapper .title-reviewer .upper p { font-family: 'ProximaNova-Thin'; color: #000; font-style: italic; margin-bottom: 0; }
.review-inner-wrapper .main-wrapper .title-reviewer .star-rate { display: inline-block; vertical-align: middle; padding: 10px; background: #eaeaea; border-radius: 10px; line-height: 1; }
.review-inner-wrapper .main-wrapper .title-reviewer .star-rate li { vertical-align: middle; line-height: 1; }
.review-inner-wrapper .main-wrapper .title-reviewer .star-rate li img { width: 20px; }
.review-inner-wrapper .main-wrapper .content-reviewer { padding-right: 100px; position: relative; padding-bottom: 10px; }
.review-inner-wrapper .main-wrapper .content-reviewer p { line-height: 2; margin-bottom: 75px; }
.review-inner-wrapper .main-wrapper .content-reviewer .recommended { position: absolute; bottom: 0; left: 0; }
.review-inner-wrapper .main-wrapper .content-reviewer .recommended i { margin-right: 10px; }
.review-inner-wrapper .main-wrapper .content-reviewer .recommended i.fa-times-circle { color: #d75a4a; }
.review-inner-wrapper .main-wrapper .content-reviewer .recommended i.fa-check-circle { color: #6ac259; }
.review-inner-wrapper .customer-service span { display: inline-block; vertical-align: middle; width: 190px; }
.review-inner-wrapper .customer-service .sb-rates { border-top: 1px solid #cecece; padding: 20px 0 10px; }
.review-inner-wrapper .customer-service .sb-rates > li { margin-bottom: 20px; }
.review-inner-wrapper .customer-service .star-rate { display: inline-block; vertical-align: middle; line-height: 1; }
.review-inner-wrapper .customer-service .star-rate li { vertical-align: middle; line-height: 1; }
.review-inner-wrapper .customer-service .star-rate li img { width: 20px; }
.review-inner-wrapper .customer-service .star-rate li:not(:last-child) { margin-right: .25rem; }

.user-profile .profile-main-wrapper { border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 50px; margin-bottom: 30px; }
.user-profile .profile-main-wrapper .leftFile { display: inline-block; vertical-align: middle; width: calc(100% - 420px); border-right: 1px solid #bbbbbb; }
.user-profile .profile-main-wrapper .leftFile img { width: 135px; height: 135px; display: inline-block; vertical-align: middle; }
.user-profile .profile-main-wrapper .leftFile .name { display: inline-block; vertical-align: middle; padding: 0 20px; }
.user-profile .profile-main-wrapper .leftFile .name h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 0; }
.user-profile .profile-main-wrapper .leftFile .name h2 span { display: inline-block; margin-left: 30px; font-family: 'ProximaNova-Regular'; color: #000; font-size: initial; margin-bottom: 0; }
.user-profile .profile-main-wrapper .leftFile .name h2 span i { margin-right: 5px; color: #6dc05e; }
.user-profile .profile-main-wrapper .leftFile .name p { font-family: 'ProximaNova-Regular'; color: #000; margin-bottom: 0; }
.user-profile .profile-main-wrapper .rightFile { display: inline-block; vertical-align: middle; width: 400px; padding: 20px 40px; }
.user-profile .profile-main-wrapper .rightFile h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 0; }
.user-profile .profile-main-wrapper .rightFile h3 { font-family: 'ProximaNova-Bold'; color: #a5a4a4; font-size: 30px; margin-bottom: 0; }
.user-profile .profile-rating-reviews { border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 20px; }
.user-profile .profile-rating-reviews .section-title { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #dedede; }
.user-profile .profile-rating-reviews .section-title h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 0; }
.user-profile .profile-rating-reviews .list-heading h6 { font-family: 'ProximaNova-Thin'; color: #3d3d3d; }
.user-profile .profile-rating-reviews .user-review-item { display: block; padding: 15px 30px; border: 1px solid #dedede; border-radius: 5px; margin-bottom: 15px; }
.user-profile .profile-rating-reviews .user-review-item h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 0; line-height: 1; }
.user-profile .profile-rating-reviews .user-review-item h4 { font-family: 'ProximaNova-Regular'; color: #124782; font-size: 30px; margin-bottom: 0; line-height: 1; }
.user-profile .profile-rating-reviews .user-review-item .star-rate { margin-bottom: 10px; line-height: 1; }
.user-profile .profile-rating-reviews .user-review-item .star-rate li { vertical-align: bottom; line-height: 1; margin-right: 0; }
.user-profile .profile-rating-reviews .user-review-item .star-rate li img { width: 20px; }
.user-profile .profile-rating-reviews .user-review-item .row > div:not(:first-child) { border-left: 1px solid #dedede; text-align: center; }
.user-profile .profile-rating-reviews .user-review-item .row > div { padding-top: 15px; padding-bottom: 15px; }
.user-profile .profile-rating-reviews .user-review-item:hover { border: 1px solid #124782; }

.company-who { background-color: #fff; }
.company-who .waeyo-1 { display: block; border: 1px solid #4faadf; border-radius: 10px; line-height: 1; padding: 15px 20px; margin-bottom: 10px; position: relative; width: 300px; color: #4faadf; text-align: center; }
.company-who .waeyo-1 span { width: 240px; display: inline-block; }
.company-who .waeyo-2 { display: block; background-color: #fdc331; border: 1px solid #fdc331; border-radius: 10px; line-height: 1; padding: 15px 20px; margin-bottom: 10px; position: relative; width: 300px; color: #fff; text-align: center; }
.company-who .logo-holder { width: 600px; padding: 10px 50px; display: inline-block; vertical-align: middle; text-align: center; }
.company-who .logo-holder img { height: 100px; object-fit: contain; }
.company-who .info-holder { display: inline-block; vertical-align: middle; width: calc(100% - 610px); }
.company-who .info-holder p { margin-bottom: 0; }
.company-who .info-holder h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 10px; }
.company-who .info-holder .track { display: inline-block; overflow: hidden; background-color: #f9f9f9; border-radius: 10px; margin-bottom: 10px; }
.company-who .info-holder .track .star-rate { float: left; width: 200px; padding: 0 20px; text-align: center; line-height: 35px; vertical-align: middle; }
.company-who .info-holder .track .star-rate li { vertical-align: middle; line-height: 1; }
.company-who .info-holder .track .star-rate li img { width: 20px; }
.company-who .info-holder .track .star-rate li:not(:last-child) { margin-right: .25rem; }
.company-who .info-holder .track .top-rated { float: right; line-height: 40px; padding: 0 20px; text-align: center; font-family: 'ProximaNova-Bold'; color: #124782; background-color: #fdc331; }
.company-who .info-holder label { font-family: 'ProximaNova-Bold'; color: #124782; }
.company-who .info-holder label span { margin: 0 15px; }

.this-company-reviews { padding: 30px 0 100px; background-color: #f9f9f9; }
.this-company-reviews .review-graph { border: 2px solid #124782; border-radius: 5px; padding: 15px; margin-bottom: 15px; }
.this-company-reviews .review-graph h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; }
.this-company-reviews .review-graph h2 span { color: #696969; margin-left: 10px; }
.this-company-reviews .review-graph .percent { margin-bottom: 10px; }
.this-company-reviews .review-graph .percent > div { display: inline-block; vertical-align: middle; width: 70px; }
.this-company-reviews .review-graph .percent > div:nth-child(2) { width: calc(100% - 160px); border: 1px solid #ccc; line-height: 0; box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); margin-right: 5px; }
.this-company-reviews .review-graph .percent > div:nth-child(2) div { display: inline-block; height: 20px; }
.this-company-reviews .review-graph .percent.s5 div div { background-color: #1bb57c; }
.this-company-reviews .review-graph .percent.s4 div div { background-color: #76cd2b; }
.this-company-reviews .review-graph .percent.s3 div div { background-color: #fecc2f; }
.this-company-reviews .review-graph .percent.s2 div div { background-color: #fd8633; }
.this-company-reviews .review-graph .percent.s1 div div { background-color: #fc392e; }
.this-company-reviews .reviews-wrapper { border: 1px solid #bbbbbb; padding: 15px; border-radius: 5px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.this-company-reviews .reviews-wrapper .item-wrapper { box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); border: 1px solid #bbbbbb; border-top: 5px solid #124782; border-radius: 5px; padding: 20px; margin-bottom: 15px; }
.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer { border-bottom: 1px solid #bbbbbb; padding-bottom: 10px; margin-bottom: 20px; }
.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer img.reviewer { height: 75px; width: 75px; display: inline-block; vertical-align: middle; margin-right: 15px; border-radius: 100%; }
.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .upper { width: calc(100% - 280px); display: inline-block; vertical-align: middle; }
.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .upper h2 { font-family: 'ProximaNova-Bold'; color: #124782; font-size: 30px; margin-bottom: 0; }
.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .upper p { font-family: 'ProximaNova-Thin'; color: #000; font-style: italic; margin-bottom: 0; }
.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .star-rate { display: inline-block; vertical-align: middle; padding: 10px; background: #eaeaea; border-radius: 10px; line-height: 1; }
.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .star-rate li { vertical-align: middle; line-height: 1; }
.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .star-rate li img { width: 20px; }
.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer { position: relative; padding-bottom: 10px; }
.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer p { line-height: 2; margin-bottom: 20px; padding-right: 100px; }
.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer a.more-review { margin-left: auto; display: block; }
.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer .recommended { position: absolute; bottom: 0; left: 0; }
.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer .recommended i { margin-right: 10px; }
.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer .recommended i.fa-times-circle { color: #d75a4a; }
.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer .recommended i.fa-check-circle { color: #6ac259; }
.this-company-reviews .paging { font-family: 'ProximaNova-Regular'; color: #2572ff; }
.this-company-reviews .paging.active { font-family: 'ProximaNova-Bold'; }
.this-company-reviews .sidebar .about-contact p { padding: 15px 10px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.this-company-reviews .sidebar .about-contact .contact-here { padding: 15px 0; border-top: 1px solid #ccc; }
.this-company-reviews .sidebar .about-contact .contact-here li { position: relative; margin-bottom: 10px; }
.this-company-reviews .sidebar .about-contact .contact-here li i { width: 40px; color: #fcc243; }
.this-company-reviews .sidebar .about-contact .contact-here li a { color: #3d3d3d; }
.this-company-reviews .sidebar .about-contact .social-links a { width: 40px; height: 40px; border: 1px solid #fcc243; border-radius: 100%; line-height: 38px; text-align: center; color: #fcc243; }
.this-company-reviews .sidebar .about-contact .social-links a:hover { background-color: #fcc243; color: #fff; }

/*# sourceMappingURL=main.css.map */

.direct-concise .icon-holder {
	max-width: 800px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
}
.direct-concise .image-holder {
	height: 150px;
	line-height: 100px;
	padding: 25px;
	text-align: center;
}
.direct-concise .image-holder img {
	max-height: 100%;
	max-width: 100%;
}
.direct-concise .content-holder h4 {
	font-family: 'ProximaNova-Bold';
	color: #124782;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}
