/* RESPONSIVE CSS HERE */

@media (min-width: 576px){
	.container {
	    max-width: 100%;
	}
}

@media (min-width:992px){
	.container {
		padding-right: 50px;
	    padding-left: 50px;
		max-width: 100%;
	}
}

@media (min-width: 1350px){
	.container {
		padding-right: 100px;
		padding-left: 100px;
		max-width: 100%;
	}
}


@media (max-width: 1699px){
	body {
		font-size: 15px;
	}
	.btnStyle-1 {
	    width: 200px;
	    padding: .5rem 1.5rem;
	}

	.form-control.nice-select,
	select.form-control:not([size]):not([multiple]),
	.form-control {
		font-size: 15px;
		height: 45px;
		line-height: 33px;
	}

	.search-wrapper .qoute-holder input[type=submit] {
		line-height: 45px;
	}

	/* HEADER */
	header .navbar .navbar-brand {
		max-width: 330px;
	}
	header .navbar .navbar-collapse {
		margin-top: 40px;
	}
	header .navbar .navbar-nav .nav-link {
	    padding: .5rem 1.5rem;
	}
	header .getQoute-header {
	    top: 1.5rem;
		padding: .5rem 1.5rem;
	}
	/* HEADER */

	.banner.home-banner .banner-img {
		height: 460px;
	}
	.banner.inner-banner .banner-img {
		height: 360px;
	}
	.banner .text-wrapper {
		left: 100px;
		max-width: 600px;
	}
	.banner .text-wrapper h2 {
		font-size: 50px;
	}

	.direct-concise .content-holder h2 {
		font-size: 40px;
	}
	.direct-concise .content-holder p {
		font-size: 18px;
	}

	.review-area .reviews-wrapper .review-item .company-details {
		padding: 20px;
	}
	.review-area .reviews-wrapper .review-item .company-details .company-info {
		width: calc(100% - 320px);
	}
	.review-area .sidebar h2.side-headers,
	.review-area .reviews-wrapper .review-item .latest-review .title-reviewer .upper h2,
	.review-area .reviews-wrapper .review-item .company-details .company-info h3 {
		font-size: 22px;
	}
	.review-area .reviews-wrapper .review-item .company-details .logo-holder {
		width: 300px;
		padding: 15px;
		line-height: 70px;
		height: 100px;
	}
	.review-area .reviews-wrapper .review-item .latest-review .title-reviewer img {
		height: 55px;
		width: 55px;
	}
	.review-area .reviews-wrapper .review-item .latest-review .title-reviewer .upper {
		width: calc(100% - 75px);
	}

	/* FOOTER */
	footer .recent-footer .container h2 {
		font-size: 30px;
	}
	footer .copy-links li:not(:last-child):after {
	    top: 7px;
	}

	.about-section-1 h2 {
		font-size: 40px;
	}
	.about-section-2 h2 {
		font-size: 18px;
	}
	.about-section-1 p,
	.about-section-2 .perform p {
		font-size: 18px;
	}
	.about-section-2 .section-title {
		margin-bottom: 50px;
	}
	.about-section-2 .perform {
	    padding: 0px 30px;
	}
	.about-section-2 .perform .image-holder {
	    height: 180px;
	    padding: 30px;
	    line-height: 120px;
	}

	.about-section-3 {
		height: 250px;
	}
	.about-section-3 .like-review {
		max-width: 550px;
	}
	.about-section-3 h2 {
		font-size: 65px;
	}
	.about-section-3 p {
		font-size: 19px;
	}

	.contact-wrapper .section-title h2 {
		font-size: 18px;
	}
	.contact-wrapper .sidebar ul li i {
		width: 50px;
		font-size: 20px;
	}
	.contact-wrapper .sidebar ul {
		padding: 20px 0;
	}

	.login-wrapper .site-log h2,
	.login-wrapper .section-title h2 {
		font-size: 18px;
	}

	.login-wrapper .form-wrapper {
		max-width: 550px;
	}
	.login-wrapper .form-wrapper .login-with i {
		font-size: 30px;
		width: 40px;
	    margin-right: 40px;
	}
	.login-wrapper .form-wrapper .login-with {
		margin-bottom: 20px;
	}

	.review-area .reviews-report-changes .review-item .company-details {
		padding: 15px;
	}
	.review-area .reviews-report-changes .review-item .company-details .company-info {
	    width: calc(100% - 290px);
	}
	.review-area .reviews-report-changes .review-item .company-details .logo-holder {
		width: 270px;
		padding: 0 15px;
	}
	.review-area .reviews-report-changes .review-item .company-details .logo-holder img {
		height: auto;
		max-height: 60px;
	}
	.review-area .reviews-report-changes .review-item .company-details .logo-holder h3 {
		font-size: 20px;
	}

	.review-inner-wrapper .main-wrapper .title-reviewer img.reviewer,
	.champ .champion-item .title-reviewer img {
		height: 55px;
		width: 55px;
	}

	.champ .champion-item .the-info h2,
	.champ .champion-item .title-reviewer .upper h2 {
		font-size: 22px;
	}
	.champ .champion-item .the-review {
		width: calc(100% - 350px);
	}
	.champ .champion-item .the-info {
		width: 340px;
	}

	.write-review .form-group:not(.checkbox) label:not(.star-holder) {
		font-size: 18px;
	}

	.qoute-wrapper .section-title h2,
	.qoute-wrapper .form-wrapper h4 {
		font-size: 18px;
	}

	.qoute-wrapper .form-wrapper .form-group.withIcon i {
	    bottom: 13px;
	    right: 13px;
	    font-size: 20px;
	}

	.review-inner-wrapper .main-wrapper .title-reviewer .upper {
		width: calc(100% - 250px);
	}


	.review-inner-wrapper .main-wrapper .title-reviewer .upper h2 {
		font-size: 22px;
	}

	.user-profile .profile-rating-reviews .user-review-item h2,
	.user-profile .profile-rating-reviews .user-review-item h4 {
		font-size: 20px;
	}

	.user-profile .profile-main-wrapper .rightFile h2,
	.user-profile .profile-main-wrapper .rightFile h3,
	.user-profile .profile-rating-reviews .section-title h2,
	.user-profile .profile-main-wrapper .leftFile .name h2 {
		font-size: 22px;
	}

	.user-profile .profile-rating-reviews .user-review-item .row > div {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.user-profile .profile-main-wrapper .leftFile img {
		width: 100px;
		height: 100px;
	}
	.user-profile .profile-main-wrapper .leftFile {
		width: calc(100% - 320px);
	}
	.user-profile .profile-main-wrapper .rightFile {
		width: 300px;
	}

	.company-who .waeyo-1,
	.company-who .waeyo-2 {
		width: 100%;
	}

	.company-who .logo-holder {
		width: 450px;
	}
	.company-who .info-holder h2,
	.this-company-reviews .review-graph h2,
	.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .upper h2 {
		font-size: 22px;
	}
	.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer img.reviewer {
		width: 55px;
		height: 55px;
	}
	.company-who .info-holder {
		width: calc(100% - 460px);
	}
	.direct-concise .content-holder h4 {
		font-size: 22px;
	}
}


@media (max-width: 1350px){
	header .navbar .navbar-brand {
	    max-width: 250px;
	}
	header .getQoute-header {
		top: .75rem;
	}
}

@media (max-width: 1200px){
	body {
		font-size: 14px;
	}

	.review-area .reviews-wrapper .review-item .company-details {
	    padding: 15px;
	}
	.review-area .reviews-wrapper .review-item .company-details .logo-holder {
	    width: 250px;
	    line-height: 50px;
	    height: 80px;
	}
	.review-area .reviews-wrapper .review-item .company-details .company-info {
	    width: calc(100% - 270px);
	}
	.review-area .reviews-wrapper .review-item .company-details .company-info .star-rate li.list-inline-item:not(:last-child) {
		margin-right: .2rem;
	}

	.review-area .sidebar h2.side-headers,
	.review-area .reviews-wrapper .review-item .latest-review .title-reviewer .upper h2,
	.review-area .reviews-wrapper .review-item .company-details .company-info h3 {
		font-size: 18px;
	}

	.review-inner-wrapper .main-wrapper .title-reviewer .upper h2,
	.champ .champion-item .the-info h2,
	.champ .champion-item .title-reviewer .upper h2 {
		font-size: 18px;
	}

	.company-who .logo-holder {
	    width: 300px;
	    padding: 10px 20px;
	}
	.company-who .info-holder {
	    width: calc(100% - 310px);
	}

	.company-who .info-holder h2,
	.this-company-reviews .review-graph h2,
	.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .upper h2 {
		font-size: 18px;
	}

	.banner .text-wrapper h2 {
		font-size: 30px;
	}
	.direct-concise .content-holder h2 {
		font-size: 20px;
	}
	.about-section-1 h2 {
		font-size: 20px;
	}
}

@media (max-width: 1100px){
	header .navbar .navbar-nav .nav-link {
	    padding: .5rem 1rem;
	}
}

@media (max-width: 991px) {
	header .container {
		padding-right: 15px;
	    padding-left: 15px;
	    max-width: 100%;
	}
	header .navbar .navbar-collapse {
		margin-top: 0px;
	}
	header .getQoute-header {
	    padding: .25rem 1rem;
	}
	header .getQoute-header i {
	    margin-left: 1rem;
	}
	header .navbar-dark .navbar-toggler {
		margin-top: 40px;
	}

	.banner .text-wrapper {
	    left: 15px;
	    max-width: 95%;
	    margin: auto;
	}

	.form-group {
		margin-bottom: 10px;
	}

	.review-area .reviews-report-changes,
	.review-area .reviews-wrapper {
		margin-bottom: 20px;
	}

	.direct-concise .content-holder img{
		display: block;
		margin: 0 auto 20px;
	}
	.direct-concise .content-holder p {
		margin-bottom: 0;
	}
	.review-area .reviews-wrapper .review-item .latest-review .lower p {
		padding-right: 0;
	}
	.review-area .sidebar .nearby-movers form i {
		top: 12px;
		font-size: 20px;
	}
	.search-wrapper {
	    padding-bottom: 50px;
	}
	.about-section-2 .perform {
		margin-bottom: 50px;
	}
	.about-section-3 .like-review {
		max-width: 350px;
		top: 20px;
	}
	.about-section-3 h2 {
	    font-size: 45px;
	}
	.about-section-3 p {
	    font-size: 16px;
	}
	.about-section-3 {
	    height: 200px;
	}

	.contact-wrapper {
		padding-bottom: 50px;
	}
	.contact-wrapper .form-wrapper {
		margin-bottom: 20px;
	}

	.qoute-wrapper .section-title,
	.login-wrapper .section-title,
	.contact-wrapper .section-title {
		margin-bottom: 25px;
	}

	.login-wrapper {
		padding-bottom: 50px;
	}


	.champ .champion-item .the-review {
		width: 100%;
		display: block;
		border-right: none;
		padding-right: 0;
		padding-bottom: 20px;
		border-bottom: 1px solid #bbbbbb;
	}
	.champ .champion-item .the-info {
		width: 100%;
		display: block;
		padding: 0;
		padding-top: 15px;
	}
	.champ .champion-item .the-info h2 {
		margin-bottom: 10px;
	}

	.review-inner-wrapper .customer-service .sb-rates {
		text-align: center;
	}

	.review-inner-wrapper .main-wrapper .content-reviewer {
		padding-right: 0;
	}

	.review-inner-wrapper .main-wrapper {
		margin-bottom: 20px;
	}

	.review-inner-wrapper .main-wrapper .title-reviewer {
		text-align: center;
	}
	.review-inner-wrapper .main-wrapper .title-reviewer img.reviewer {
		display: block;
		margin-right: 0;
		margin: auto;
		margin-bottom: 10px;
	}
	.review-inner-wrapper .main-wrapper .title-reviewer .upper {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.review-inner-wrapper .main-wrapper .title-reviewer .star-rate {
		margin: auto;
	}
	.review-inner-wrapper .customer-service span {
		display: block;
		margin-bottom: 10px;
		width: auto;
	}

	.user-profile .profile-main-wrapper .rightFile h2,
	.user-profile .profile-main-wrapper .rightFile h3,
	.user-profile .profile-rating-reviews .section-title h2,
	.user-profile .profile-main-wrapper .leftFile .name h2 {
	    font-size: 18px;
	}
	.user-profile .profile-rating-reviews .list-heading {
		display: none;
	}
	.user-profile .profile-rating-reviews .user-review-item h2 {
		display: block;
		text-align: center;
	}
	.user-profile .profile-rating-reviews .user-review-item .row > div:not(:first-child) {
		border: none;
	}

	.user-profile .profile-main-wrapper .leftFile img {
		display: block;
		margin: 0 auto 10px;
	}
	.user-profile .profile-main-wrapper .leftFile .name {
		display: block;
		width: 100%;
	}
	.user-profile .profile-main-wrapper .leftFile .name p,
	.user-profile .profile-main-wrapper .leftFile .name h2 span,
	.user-profile .profile-main-wrapper .leftFile .name h2 {
		display: block;
		text-align: center;
		margin: 0;
	}
	.user-profile .profile-main-wrapper .leftFile,
	.user-profile .profile-main-wrapper .rightFile {
		width: 100%;
		display: block;
		text-align: center;
		border: none;
		padding: 5px;
	}
	.user-profile .profile-main-wrapper {
		padding: 10px;
		margin-bottom: 15px;
	}

	.this-company-reviews .reviews-wrapper {
		margin-bottom: 20px;
	}

	.company-who .logo-holder {
		width: 400px;
		margin: 0 auto 10px;
		display: block;
		text-align: center;
	}
	.company-who .info-holder {
		width: 100%;
		text-align: center;
	}
	.company-who .info-holder .track {
		display: block;
		width: 320px;
		margin: 0 auto 10px;
	}
	.company-who.padder {
		padding: 20px 0;
	}
	.company-who .waeyo-1, .company-who .waeyo-2 {
		width: 300px;
		margin: 0 auto 10px;
	}
}

@media (max-width: 767px) {
	.about-section-3 {
		text-align: center;
	}
	.about-section-3 .like-review {
	    max-width: 350px;
	    top: -80px;
	}

	.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer img.reviewer {
		display: block;
		margin: 0 auto 10px;
	}
	.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .upper {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.this-company-reviews .reviews-wrapper .item-wrapper .title-reviewer .star-rate {
		width: 200px;
		text-align: center;
		margin: auto;
		display: block;
	}
	.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer p {
		padding-right: 0;
	}
}

@media (max-width: 650px) {
	.review-area .reviews-wrapper .review-item .company-details .logo-holder {
		width: 200px;
		display: block;
		margin: 0 auto 10px;
		border-right: none;
	}
	.review-area .reviews-wrapper .review-item .company-details .company-info {
		width: 100%;
		text-align: center;
	}
	.banner.home-banner .banner-img {
	    height: 350px;
	}
	.banner.inner-banner .banner-img {
	    height: 250px;
	}
	.review-area .reviews-wrapper .review-item .latest-review {
	    padding: 15px;
	}
	.review-area .reviews-wrapper .review-item .latest-review .title-reviewer {
		margin-bottom: 10px;
	}
	.champ .champion-item .title-reviewer img,
	.review-area .reviews-wrapper .review-item .latest-review .title-reviewer img {
		display: block;
		margin:  0 auto 10px;
	}
	.champ .champion-item .title-reviewer .upper,
	.review-area .reviews-wrapper .review-item .latest-review .title-reviewer .upper {
		width: 100%;
		display: block;
		text-align: center;
	}
	.review-area .reviews-wrapper .review-item .latest-review .lower p {
	    line-height: 1.5;
	}


	.review-area .reviews-report-changes .review-item .company-details .logo-holder {
		width: 100%;
		display: block;
		margin: 0 auto 10px;
		border-right: none;
		text-align: center;
	}
	.review-area .reviews-report-changes .review-item .company-details .company-info {
		width: 100%;
		display: block;
		text-align: center;
	}

	.champ .champion-item .the-info {
		text-align: center;
	}
}

@media (max-width: 575px) {
	.about-section-3 {
		height: initial;
	}
	.about-section-3 p {
		margin-bottom: 20px;
	}

	.login-wrapper .form-wrapper {
		padding: 20px;
	}
	.login-wrapper .form-wrapper .form-group {
		margin-bottom: 20px;
	}
	.login-wrapper .form-wrapper .login-with i {
		margin-right: 20px;
	}

	.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer .recommended,
	.champ .champion-item .lower .recommended {
		position: relative;
		left: initial;
		bottom: initial;
	}
	.champ .champion-item .lower .more-review {
		width: 100%;
	}
	.champ .champion-item .the-info .star-rate {
		margin-bottom: 10px;
	}

	.this-company-reviews .review-graph .percent > div {
		width: 50px;
	}
	.this-company-reviews .review-graph .percent > div:nth-child(2) {
		width: calc(100% - 120px);
	}
}

@media (max-width: 500px){
	header .navbar {
		padding: .5rem 0rem 0;
	}
	header .navbar .navbar-brand {
	    max-width: 180px;
	}
	header .navbar-dark .navbar-toggler {
	    margin-top: 0;
	}
	.navbar-dark .navbar-toggler {
	    color: rgba(255,255,255,.5);
	    border-color: rgba(255,255,255,.5);
	}
	header .getQoute-header {
	    display: none;
	}
	header .getQoute-nav {
		display: block;
		background-color: #fdc331;
		margin-bottom: 5px;
	    border-radius: 7px;
	}
	.navbar-nav {
		padding-top: 10px;
	}

	.review-area .reviews-report-changes .review-item .company-details .company-info .star-rate li:last-child {
		display: block;
		margin: 0;
		margin-top: 10px;
	}

	.company-who .info-holder .track,
	.company-who .logo-holder {
		width: 100%;
	}
	.company-who .info-holder .track .star-rate {
		width: 180px;
	}
}

@media (max-width: 425px) {
	.padder {
		padding: 20px 0;
	}
	.banner.home-banner .banner-img {
	    height: 250px;
	}
	.banner .text-wrapper {
		max-width: 100%;
		left: 0;
		padding: 0 10px;
		text-align: center;
	}
	.btnStyle-1 {
	    width: 150px;
	    padding: .5rem;
	}
	.review-area .reviews-wrapper .review-item .company-details .company-info .star-rate li:last-child {
		display: block;
	    margin: 0;
	    margin-top: 10px;
	}
	.review-area .reviews-wrapper .review-item .latest-review .lower .recommended {
		position: relative;
		left: initial;
		bottom: initial;
	}
	.review-area .reviews-wrapper .review-item .latest-review .lower .more-review {
		width: 100%;
	}
	.about-section-2 .perform {
		padding: 0;
	}
	.about-section-3 {
		text-align: right;
	}
	.about-section-3 .like-review {
	    max-width: 210px;
	    top: 30%;
	}
	.qoute-wrapper .form-wrapper,
	.contact-wrapper .form-wrapper {
		padding: 20px;
	}
	.contact-wrapper .form-wrapper input[type=submit] {
		width: 100%;
	}

	.champ .champion-item .the-info .star-rate li:last-child {
	    display: block;
	    margin: 0;
	    margin-top: 10px;
	}
	.user-profile .profile-rating-reviews .user-review-item {
		padding: 10px;
	}
	.this-company-reviews .reviews-wrapper .item-wrapper .content-reviewer a.more-review {
		display: block;
		margin: auto;
		width: 100%;
	}
}

@media (max-width: 375px) {
	.about-section-3 .like-review {
	    max-width: 180px;
	    top: 30%;
	}
}
